<section class="cart-show">
  
  <%= render 'cart' if enhanced_cart.length != 0 %>

  <% if enhanced_cart.length == 0 %>
    <div class="alert alert-danger">
      Your cart is empty, please return to the <%= link_to 'home page', "/" %>
    </div>
  <% end %>
 
</section>
